/* client/src/index.css */

/* Use a better box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Special Elite', monospace; /* Use our new font! */
  background-color: #f0e9d6; /* A tan, old-paper color */
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png'); /* Subtle paper texture */
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p {
  margin: 0 0 1rem 0;
}