/* client/src/index.css */

/* Use a better box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Special Elite', monospace;
  /* CHRISTMAS THEME: Deep Red with the paper texture creates a "Wrapping Paper" look */
  background-color: #a81010; 
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p {
  margin: 0 0 1rem 0;
}